/*paleta de colores: https://colorhunt.co/palette/061e291d546d5f9598f3f4f4*/

td, th{
  overflow: hidden;
  padding: 10px;
}
body{
    color: #F3F4F4;
    text-align: center;
    background-color:#061E29;
}
.nav_buttom{
    background-color: #1D546D;
    color: #F3F4F4;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
}
.nav_buttom:hover{
        background-color: #5F9598;
}
.estructure_table{
  margin: auto;
    width: 90%;
    border-collapse: collapse;
}
aside{
    width: 300px;
    text-align: justify;
}
.aside-column{
    vertical-align: top;
}
textarea{
  width: 60%;
  height: 100px;
}
.form-input{
  width: 60%;
}